<% unless comment.archived? %>
  <div style="padding: 5px; margin-bottom: 5px; background-color: #999;" >
    <p>
      <strong>Commenter:</strong>
      <%= comment.commenter %>
    </p>
    <p>
      <strong>Comment:</strong>
      <%= comment.body %>
    </p>
  </div>
<% end %>
